%li.list-group-item
  = image_tag 'default.png', size: '100x100', class: 'list-inline'
  .list-item-body
    %h4.list-group-item-heading
      = course.title
    %p.list-group-item-text
      = "Price: #{course.price}$"