.form-horizontal {
  .control-label {
    text-align: left;
  }
}
.form-group {
  margin-bottom: 20px;
}
.form-control {
  border-radius: 0;
}
.btn {
  border-radius: 0;
}
.checkbox {
  label {
    input {
      margin-top: 0;
    }
  }
}
