body {
  padding-top: 50px;
}
footer {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #343a40;
  p {
    color: white;
    margin-bottom: 0;
  }
}
.dropdown-menu {
  border-radius: 0;
  min-width: 100%;
  background-color: #222;
  li {
    a {
      color: #9d9d9d;;
    }
    a:hover {
      color: white;
      background-color: #222;
    }
  }
  .divider {
    margin: 5px 0;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
.alert {
  border-radius: 0;
  position: fixed;
}
