.container {
  .jumbotron {
    border-radius: 0;
    margin-bottom: 0;
  }
}
.badge {
  background-color: #337ab7;
}
.list-group-item{
  &:first-child {
    border-radius: 0;
  }
  &:last-child {
    border-radius: 0;
  }
}